body {
    background: linear-gradient(#ff33cc,#006666);
    height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #container {
    display:grid;
  }
  
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #8de3f8;
  }
  